body {
	padding: 0px
}

.z-hbox-separator {
    display: none
}

.z-west-header {
	height: 27px;
	padding: 1px 6px;
	border-bottom: 0px;
}

.z-east-header {
	height: 27px;
	padding: 1px 10px;
}

.z-listbox-autopaging .z-listcell-content {
    height: 26px;
    overflow: hidden;
}

.z-listbox-emptybody-content {
	padding: 10px	
}

.z-listheader-content, .z-listcell-content, .z-listgroup-content, .z-listgroupfoot-content, .z-listfooter-content {
    padding: 1px 5px;
}

.z-caption-content {
	line-height: 16px
}

.z-column-content {
	line-height: 12px;
	font-size: 11px;
	font-weight: 400;
}

.z-row-content,.z-row-inner,.z-rows,.z-row,.z-grid-odd,.z-grid-body,.z-grid-header,.z-cell { 
    background: transparent !important;
    border-color: none !important; 
}

.z-grid-body .z-cell {
	padding: 3px;
}

.z-groupbox > .z-groupbox-header {
	height: 8px	
}

.z-groupbox {
    padding-top: 8px;
    padding-left: 3px;
    padding-right: 1px;
    padding-bottom: 2px;
}

.z-groupbox-content {
    padding-top: 8px;
    padding-left: 4px;
    padding-right: 4px;
    padding-bottom: 10px;
    background: linear-gradient(to bottom, #FEFEFE 0%, #EEEEEE 100%)
}

.z-html {
	font-family: sans-serif;
	font-size: 10pt
}

.z-tab-text {
    padding: 0px 8px 2px;
}

.z-tabpanel {
	padding: 0px
}

.z-textbox {
	overflow-x: hidden
}

.z-toolbar {
    padding: 1px 2px;
}

.z-window {
	background: linear-gradient(to bottom, #FFFFFF 0%, #444444 100%);
}

.z-window-close {
    font-size: 14px;
    line-height: 16px;
}

.z-window-header {
	color: #636363;
	font-weight: bold;
	padding: 0 0 3px 5px;
}

.alpha-icon-lg {
	font-size: 1.15em
}

.alpha-mandatory {
	border-color: #FF8888;
}

.alpha-layout-grid {
	border-style: dotted;
	border-width: 1px;
	border-color: #888888;
}

.alpha-layout-empty {
	color: #CCCCCC
}

.alpha-noborder {
	border: none; 	
}

.alpha-nobg {
	background-color: white;
}

.alpha-properties {
	background-color: #EEEEEE;
	overflow-y: auto
}

.alpha-properties-content {
	padding-top: 10px;
	padding-left: 10px;
	padding-right: 25px;
	padding-bottom: 10px;
}

.alpha-cell {
	padding: 2px 2px;
}

.alpha-tabbox {
	margin-left: 5px;
	margin-right: 5px;
	margin-bottom: 5px;
}

.alpha-toolbar {
	height: 28px;
} 

.alpha-dialog {
	padding: 10px;
}

.alpha-dialog-header {
	padding-bottom: 10px;
}

.alpha-dialog-footer {
	padding-top: 20px;
	text-align: center;
}

.alpha-log-elem {
	border-bottom: 1px solid;
	border-color: #CCCCCC;
}

.alpha-log-elem-added {
	background-color: #E6FFE6;
}

.alpha-log-elem-modified {
	background-color: #FFFFE6;
}
	
.alpha-log-elem-removed {
	background-color: #FFE6E6;
}

.alpha-log-elem-success {
	background-color: #E6FFE6;
}

.alpha-log-elem-errors {
	background-color: #FFFFE6;
}
	
.alpha-log-elem-failed {
	background-color: #FFE6E6;
}

.alpha-richtext-button {
	text-align: right;
	margin-right: 5px
}

.alpha-richtext-edit {
	border: 1px solid;
	border-color: #CCCCCC;
	background-color: #F8F8F8;
}

.alpha-system-fields {
	text-align: right;
	color: #808080;
	background: linear-gradient(to bottom, #FFFFFF 0%, #EEEEEE 100%);
	padding-right: 8px;
}
